.completed {
	background-color: greenyellow;
}

.notcompleted {
	background-color:beige;
}


.bigtableLeft {
	position: absolute;
	top: 30%;
	left: 40%;
}

.bigtableRight {
	position: absolute;
	top: 30%;
	left: 68%;
	padding-right: 10px;
}

.headers {
	font-size: 24px;
	font-weight: bold;
	padding-bottom: 10px;
}
table {
	width: 500px;
	border-collapse: collapse;
	overflow: hidden;
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
}

th {
	text-align: left;
	color: #fff;
}

thead {
	th {
		background-color: #55608f;
	}
}

tbody {

	td {
		position: relative;
	}
}